html,
body {
  margin: 0;
  padding: 0;
}

.errors {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

input {
  height: 20px;
  padding: 1rem;
  font-size: 2rem;
  width: 100px;
  margin-bottom: 1rem;
  outline: none;
}

button {
  cursor: pointer;
  margin: 20px 10px;
  padding: .7rem 2rem;
  border-radius: 20px;
  font-size: 1rem;
  color: #021323;
  border: none;
}

.message {
  color: white;
  margin-top: 10px;
}

.header {
  background-color: #333333;
}

a {
  text-decoration: none;
}

li:hover {
  cursor: pointer;
}

.containa {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  /* background: url(https://png.pngtree.com/thumb_back/fh260/background/20201009/pngtree-d-abstract-digital-technology-background-futuristic-sci-fi-user-interface-concept-image_406794.jpg); */
  /* background-size:cover; */
  /* background-position:center center; */
  /* background-repeat:no-repeat; */
  height: 94vh;
  overflow: hidden;
  background-color: #021323;

}

.reducer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  display: inline;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

.main {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main h1 {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 68px;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.btn-main {
  background-color: rgb(43, 43, 102);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  color: #333;
  border: 1px solid #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}


@media (max-width: 500px) {
  .main h1 {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .jumbotron {
    height: 100vh;
  }

  .nav {
    text-align: center;
    padding: 20px 0;
  }

  .header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }

  .btn-cont {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

}